{
  "presets": [
    "es2015",
    "stage-1",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["module-alias", [
      { "src": "npm:react-buffer", "expose": "react" }
    ]]
  ]
}
